{%- assign formats = site.data[site.metadata] | map: "format" -%}
{%- assign types = "image;audio;video;application" | split: ";" -%}
<div class="card mb-3" >
    <div class="card-body">
        <h5 class="text-secondary" class="card-title">Library and Archives</h5>
        <p class="card-text">
            <a href="{{ '/specialcollections.html' | absolute_url }}">Special Collections</a>
            <br><a href="{{ '/digitalcollections.html' | absolute_url }}">Digital Collections</a><br>
            <br><a class="btn btn-outline-primary" href="{{ '/objects/pincock_resume_lib.pdf' | absolute_url }}" >View my library resume</a>
        </p>
    </div>
</div>