{%- assign formats = site.data[site.metadata] | map: "format" -%}
{%- assign types = "image;audio;video;application" | split: ";" -%}
<div class="card mb-3" >
    <div class="card-body">
        <h5 class="text-secondary" class="card-title">Other</h5>
        <p class="card-text">
            <a href="https://cc3199.github.io/portfolio/horticulture.html">Horticulture</a>
            <br><a href="https://cc3199.github.io/portfolio/cleaning.html">Apartment Cleaning</a></br>
            <p><a href="https://cc3199.gitbhub.io.portfolio/dataentry.html">Data Entry</a></p>
            <p><a class="btn btn-outline-primary" href="{{ '/objects/pincock_resume.pdf' | absolute_url }}" >View my resume</a></p>
        </p>
    </div>
</div>