<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Software Proficiency</h5>
      <p class="card-text"></p>
      <div class="row">
        <div class="column">
            <ul>
            <li>Microsoft Word</li>
            <li>Microsoft Excel</li>
            <li>Microsoft Publisher</li>
            <li>Microsoft Access</li>
            <li>Microsoft Powerpoint</li>
            <li>Microsoft OneDrive</li>
            <li>Adobe Acrobat</li>
            </ul>
        </div>
        <div class="column">
            <ul>
            <li>Adobe Photoshop</li>
            <li>Adobe InDesign</li>
            <li>Adobe Illustrator</li>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
            </ul>
        </div>
        <div class="column">
            <ul>
            <li>GitHub</li>
            <li>Visual Studio Code</li>
            <li>Omeka</li>
            <li>Prezi</li>
            <li>LaTex</li>
            <li>Zotero</li>
            <li>Google Drive</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
