---
layout: default
---

<div class="container mt-2">
    <ul class="breadcrumb h6">
        <li class="breadcrumb-item"><a class="text-dark" href="{{ '/' | absolute_url }}">{{ site.data.theme.title }}</a></li>
        <li class="breadcrumb-item text-secondary"><a class="text-dark" href="{{ '/posters/' | absolute_url }}">Posters</a></li>
        <li id="bc-title" class="breadcrumb-item active"></li>
    </ul>
    </div>
    
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card-header" style="text-align:center">2017 Fort Boise Bones Project</div>
                    <img class="card-image-top img-fluid" src="{{ '/objects/2017PosterPresentation.jpg' | absolute_url }}">    
                <div class="card-body p-1"></div>
                <div class="text-center" margin="auto">
                    <button type="button" class="btn btn-dark" margin="auto" data-toggle="modal" data-target="#myModal1">View Poster</button>
                        <div class="modal fade" id="myModal1" role="dialog">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">2017 Fort Boise Bones Poster</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <embed src="{{ '/objects/poster_FortBoiseBones2017.pdf' | absolute_url }}"
                                            frameborder="0" width="100%" height="400px">
                                    <div class="modal-footer">
                                        <button type="button" class ="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
            <div class="col-md-6">
                 This was my first exposure to faunal analysis as well as archaeological lab work in general. I started this project in the fall of my junior year of college, and it continued into the spring semester of that same year. This faunal assemblage consisted mostly of small mammal bones, but it had a fair amount of meat cuts of larger mammals as well. This allowed me to talk a little about meat consumption patterns and foodways from this particular site in Boise. I've been hooked on historical zooarchaeology since this project.
        </div>
    </div>
</div>


<div class="container">
    <div class="row mt-4">
        <div class="col-md-6">
            This project was much more in depth than my first one. It took place during my senior year and I took this on as my honor's thesis project. This required me to do extensive research to analyze the data and create a narrative the data created. I presented a poster at the Undergraduate Research Symposium at the University of Idaho as well as defend my honor's thesis in front of a committee. Part of the data collection was not only from the bones, but also from a meat market ledger for comparison between the two data.
        </div>
        <div class="col-md-6">
            <div class="card-header" style="text-align:center">2018 Idaho City Bones Project</div>
                    <img class="card-image-top img-fluid" src="{{ '/objects/2018PosterPresentation.jpeg' | absolute_url }}">    
                <div class="card-body p-1">
                <div class="text-center" margin="auto">
                    <button type="button" class="btn btn-dark" margin="auto" data-toggle="modal" data-target="#myModal2">View Poster</button>
                        <div class="modal fade" id="myModal2" role="dialog">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">2018 Idaho City Bones Poster</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                <div class="modal-body">
                                    <embed src="{{ '/objects/poster_IdahoCityBones2018.pdf' | absolute_url }}"
                                        frameborder="0" width="100%" height="400px">
                                <div class="modal-footer">
                                    <button type="button" class ="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card-header" style="text-align:center">2019 SHA and NWAC Presentation</div>
                    <img class="card-image-top img-fluid" src="{{ '/objects/2019_NWACgroup.JPG' | absolute_url }}">    
            <div class="card-body p-1">
                <div class="text-center">
                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal3">View Picture</button>
                        <div class="modal fade" id="myModal3" role="dialog">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">2019 NWAC Group Photo</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{{ '/objects/2019_NWACgroup.JPG' | absolute_url }}" style="width: 650px; height: 450px"
                                            frameborder="0" width="100%" height="400px">
                                    <div class="modal-footer">
                                        <button type="button" class ="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6 text-left">
                        <a class="btn btn-dark" href="{{ '/objects/2019_SHASlides.pdf' | absolute_url }}" role="button" target="_blank">View Presentation</a>
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-dark" href="{{ 'objects/2019_SHAPaper.pdf' | absolute_url }}" role="button" target="_blank">View Paper</a>
                    </div>
                </div>
            </div>   
        </div>
        <div class="col-md-6 pt-5">
            The paper I presented at these two conferences was the first time presenting my work with my master's thesis project. My thesis project is focusing on the historical archaeology and foodways of a site in Historic Nauvoo, Illinois. Presenting at the SHA conference in St. Louis, Missouri was also my first national conference. Presenting at NWAC in 2019 was my second appearance at this conference and a regional conference in general.
        </div>
    </div>
</div>


<div class="container">
    <div class="row mt-4">
        <div class="col-md-6">
            Presenting at this conference was my first time presenting a paper. I presented the same material included in my undergraduate Honors Thesis also presented as a poster on the Idaho City animal bones. It was an interesting project to work with because of the drastic differences between the archaeological data and the historical documents concerning foodways and food consumption patterns. Especially interesting was finding out the archaeological evidence includes butchered bison that was not sold at the local meat market. My presentation argues the importance of the consideration of both historical and archaeological evidence and drawing behavior pattern conclusions using the two.
        </div>
        <div class="col-md-6">
            <div class="card-header" style="text-align:center">2018 NWAC Paper Presentation</div>
                    <img class="card-image-top img-fluid" src="{{ '/objects/2018_NWACgroup.jpg' | absolute_url }}">    
                <div class="card-body p-1">
                <div class="text-center" margin="auto">
                    <button type="button" class="btn btn-outline-dark" margin="auto" data-toggle="modal" data-target="#myModal4">View Picture</button>
                        <div class="modal fade" id="myModal4" role="dialog">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">2018 NWAC Group</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                <div class="modal-body">
                                    <embed src="{{ '/objects/2018_NWACgroup.jpg' | absolute_url }}"
                                    style="width: 650px; height: 450px" frameborder="0" width="100%" height="400px">
                                <div class="modal-footer">
                                    <button type="button" class ="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                <div class="row">
                    <div class="col-6 text-left">
                        <a class="btn btn-dark" href="{{ '/objects/2018_NWACpresentation.pdf' | absolute_url }}" role="button" target="_blank">View Presentation</a>
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-dark" href="{{ 'objects/2018_NWACpaper.pdf' | absolute_url }}" role="button" target="_blank">View Paper</a>
                    </div>
                </div>
            </div>   
            </div>
  </div>
</div>