---
layout: default
---

<div class="card w-75 mt-4 mx-auto">
    <div class="card-header">Archivist Assistant</div>
    <div class="card-body">
      <h5 class="card-title">Sanborn Map Digitization</h5>
      <p class="card-text">Sanborn maps are historical maps of the country that recorded buildings and construction material to assess fire risks. These maps are now used by historians, geneologists, archaeologists, architects, historians, and many others for historical research and developmental projects. University of Idaho Special Collections and Archives houses the Idaho Sanborn maps and received a grant to digitize them for public, remote access. As the assistant, I conducted five steps to digitize the maps.</p>
      <ol>
        <li>The maps were stored in a type of binder that would continue to be damaging to the maps that also contained map info that was tucked into the binding, losing information potentially valuable to researchers. The first step was to carefully remove the maps from the staples, adhesive and the binder.</li>
        <li>The next step was to scan the 21ftx25ft maps. As these maps are large, it required an oversize scanner. I scanned the individual maps with an oversized feed scanner.</li>
        <li>The third step I took was recording metadata that included geographic coordinates and types of buildings pictured. Metadata was recorded in Microsoft Excel and stored with the scanned map files.</li>
        <li>Next, the .png files of the map scans were opened in Adobe Photoshop for lighting adjustments or other necessary edits. Once the edits were complete, the maps were batch converted to .jpg files. Both .png and .jpg files were stored. Additionally, the maps were also converted to .pdf file types and maps with multiple pages in the series were compiled into a single .pdf document.</li>
        <li>Finally, I rehoused the physical map copied into oversized manila folders, labelled, and stored in archival boxes.</li>
      </ol>
      Currently, the scanned maps are not live on the UI Digital Collections yet, but it will be coming soon!
      </div>
    </div>