---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

  {% include index/description.html %}
  {% include index/education.html %}
  {% include index/skills.html %}
  
  </div>
  <div class="col-md-4">
    <div class="p-3 mb-2 border border-secondary text-dark">  

    <h4>Comprehensive Work History</h4>
    {% include index/librarywork.html %}
    {% include index/academiawork.html %}
    {% include index/otherwork.html %}

    </div>
  </div>
</div>