---
layout: default
---
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <div style="background-image" src="{{ '/objects/archive.jpg' | absolute_url }}" background-repeat="no-repeat" background-size="cover" background-position="center center">
      <h1 class="display-4">Special Collections Work Experience</h1>
    </div>
    </div>
  </div>
  <div class="card bg-dark text-white">
    <img class="p-3" src="{{ '/objects/archive.jpg' | absolute_url }}" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">Special Collections Work Experience</h5>
    </div>
  </div>